/* ---COLORS--- */

// Naturel
$N0: #ffffff;
$N10: #f6f6f6;
$N20: #6b6b6b;
$N30: #555555;
$N40: #4b4b4b;
$N90: #0d0d0d;
$N100: #000000;

// Red
$R10: #ff0000;
$R20: #c70101;

// // Blue
// $B10:;
// $B20:;
// $B30:;

// // Yellow
// $Y10:;

// // Green
// $G10:;

/* ---FONTS--- */
$Museo: 'MuseoSansCyrl', sans-serif;