.navigation {
   &__block {
      margin: 0 auto;
      min-width: 400px;
      min-height: 535px;
      background: url(../img/body.png) center no-repeat;
      background-size: cover;
      // position: absolute;
      margin: auto;
      // top: 0;
      // left: 0;
      // right: 0;
      // bottom: 0;
   }
   &__nav {
   }
   &__list {
   }
   &__item {
   }
   &__link {
   }
}