@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

// FONTS
$Quicksand: 'Quicksand', sans-serif;

// COLORS
$backgraund-color: #e5eeee;
$text-color: #fbf6e4;

// SIZE