// COLORS
$backgraund-color: #C5C5C8;
$main-color: #111A28;
$button-color: #202835;
$text-color: #E1E1E1;
$point-black: #1F273F;
$point-white: #ffffff;
$point-red: #ED3333;
$point-blue: #29E3EA;

// FONTS
$small-size: 14px;
$big-size: 24px;

$main-font: 'Museo Sans Rounded', sans-serif;