.slider {
    &__photo{
        padding: 90px 0 122px 56px;
        position: relative;
        margin-right: 97px;
        &::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: transparent;
            border-top: 1px solid $subtitle-color;
            border-right: 1px solid $subtitle-color;
            right: -14px;
            top: 77px;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: transparent;
            border-bottom: 1px solid $subtitle-color;
            border-right: 1px solid $subtitle-color;
            right: -14px;
            top: 390px;
        }
    }
    &__photo-wrapper {
        width: 388px;
        height: 388px;
        border: 1px solid $subtitle-color;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: transparent;
            border-top: 1px solid $subtitle-color;
            border-left: 1px solid $subtitle-color;
            left: 43px;
            top: 77px;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: transparent;
            border-bottom: 1px solid $subtitle-color;
            border-left: 1px solid $subtitle-color;
            left: 43px;
            top: 390px;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-left: 1px solid $subtitle-color;
    }
    &__name {

    }
    &__work {

    }
}