@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

// FONTS
$Relavay: 'Raleway', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Opensans: 'Open Sans', sans-serif;

// FONT-WEIGHT
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// SIZE
$title: 18px;
$subtitle: 60px;
$name: 36px;
$work: 24px;
$text: 14px;

// COLOR
$title-color: #898f8f;
$subtitle-color: #ffcc00;
$name-color: #666666;
$text-color: #333333;
$icon-color: #cccccc;
